.fa{
    font-family: "FontAwesome";
}
.icon {
    font-family: 'IcoMoon';
}
.badge {
    width: 30;
    height: 30;
    border-color: red;
    border-width: 1;
    border-radius: 15;
    background-color: red;
}

.badge-text {
    font-size: 12;
    font-weight: bold;
    color: white;
    vertical-align: center;
    horizontal-align: center;
}